<!DOCTYPE html>
<html lang="en">
<head>
    <base href="{{ base_url }}">
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/default.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>{{ software_title }} <small>v{{ software_version }}</small></h1>
    </div>
    <div class="container-fluid">
        <div class="col-md-12">
{% for message_type,message_content in messages %}
{% for message in message_content %}
            <div class="panel panel-{{ message_type }}">
                <div class="panel-heading">
                    <h2 class="panel-title truncate">{{ message.title }}</h2>
                </div>
                <div class="panel-body">
                    <div class="xs">Diagnostic details</div>
                    <pre>{{ message.description }}</pre>
                </div>
            </div>
{% endfor %}
{% endfor %}
        </div>
    </div>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>